{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h2 class="text-center text_h2 mb-5">
        لطفا فرم زیر را تکمیل کنید
    </h2>

    <form method="POST" id="personForm" class="needs-validation text-right" data-carmodels-url="{% url 'ajax_load_carmodels' %}" novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        <div class="mb-5">
            <div class="form-group mb-3 {% if field.errors %}error{% endif %}">
                <label for="id_name">شماره موبایل</label>
                {{ form.name|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="mb-3">
                <label for="id_carbrand">برند خودرو</label>
                {{ form.carbrand|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="mb-3">
                <label for="id_carmodel">مدل خودرو</label>
                {{ form.carmodel|attr:"class:form-control"|attr:"required" }}
            </div>
            <div class="mb-3">
                <label for="id_year">سال ساخت</label>
                {{ form.year|attr:"class:form-control"|attr:"required" }}
            </div>
        </div>
        <button class="btn buttn bg_black text_yellow px-5 py-3" type="submit">ارسال</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_carbrand").change(function () {
        var url = $("#personForm").attr("data-carmodels-url");
        var carbrandId = $(this).val();

        $.ajax({
            url: url,
            data: {
            'carbrand': carbrandId
            },
            success: function (data) {
            $("#id_carmodel").html(data);
            }
        });

        });
    </script>

{% endblock %}
