{% extends 'base.html' %}

{% block title %}Speedy Club{% endblock %}

{% block content %}
    <div class="text-right">
        <h2 class="text-right text_lg text_bold mb-3">
            از شما سپاسگزاریم :)
        </h2>
        <p class="text-right text_md mb-5">
            اطلاعات شما ثبت شد،
            <br/>
            منتظر تماس ما باشید.
        </p>
        <a class="btn buttn bg_black text_yellow px-5 py-3" href="{% url 'person_add' %}">
            بازگشت به فرم شرکت در جشنواره
        </a>
    </div>
{% endblock %}