/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Text */
    .text_h2 {
        font-size: 2rem;
    }

    .text_body {
        font-size: .75rem;
    }

    .text_footer {
        font-size: .5rem;
    }

    .text_sm {
        font-size: 1rem;
    }

    .text_md {
        font-size: 1.25rem;
    }

    .text_lg {
        font-size: 1.75rem;
    }

    .text_bold {
        font-weight: bold;
    }

    /* Margin and Padding */
    .px {
        padding-right: 0;
        padding-left: 0;
    }

    .py {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .pb {
        padding-bottom: 2rem;
    }

    .mb {
        margin-bottom: 2rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Text */
    .text_h2 {
        font-size: 2rem;
    }

    .text_body {
        font-size: .75rem;
    }

    .text_footer {
        font-size: .5rem;
    }

    .text_sm {
        font-size: 1rem;
    }

    .text_md {
        font-size: 1.25rem;
    }

    .text_lg {
        font-size: 1.75rem;
    }

    .text_bold {
        font-weight: bold;
    }

    /* Margin and Padding */
    .px {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    .py {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .pb {
        padding-bottom: 2rem;
    }

    .mb {
        margin-bottom: 2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Text */
    .text_h2 {
        font-size: 1.75rem;
    }

    .text_body {
        font-size: .75rem;
    }

    .text_footer {
        font-size: .5rem;
    }

    .text_sm {
        font-size: 1rem;
    }

    .text_md {
        font-size: 1.25rem;
    }

    .text_lg {
        font-size: 1.75rem;
    }

    .text_bold {
        font-weight: bold;
    }

    /* Margin and Padding */
    .px {
        padding-right: 6rem;
        padding-left: 6rem;
    }

    .py {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .pb {
        padding-bottom: 3rem;
    }

    .mb {
        margin-bottom: 3rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Text */
    .text_h2 {
        font-size: 2.25rem;
    }

    .text_body {
        font-size: 1rem;
    }

    .text_footer {
        font-size: .75rem;
    }

    .text_sm {
        font-size: 1.25rem;
    }

    .text_md {
        font-size: 1.5rem;
    }

    .text_lg {
        font-size: 2rem;
    }

    .text_bold {
        font-weight: bold;
    }

    /* Margin and Padding */
    .px {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    .py {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .pb {
        padding-bottom: 4rem;
    }

    .mb {
        margin-bottom: 4rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    /* Text */
    .text_h2 {
        font-size: 2.5rem;
    }

    .text_body {
        font-size: 1rem;
    }

    .text_footer {
        font-size: .75rem;
    }

    .text_sm {
        font-size: 1.25rem;
    }

    .text_md {
        font-size: 1.5rem;
    }

    .text_lg {
        font-size: 2rem;
    }

    .text_bold {
        font-weight: bold;
    }

    /* Margin and Padding */
    .px {
        padding-right: 12rem;
        padding-left: 12rem;
    }

    .py {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .pb {
        padding-bottom: 6rem;
    }

    .mb {
        margin-bottom: 6rem;
    }

}