/* TYPEFACE */

@font-face {
    font-family: Shabnam;
    src: url('fonts/shabnam/Shabnam.eot'), local('shabnam');
    src: url('fonts/shabnam/Shabnam.eot?#iefix') format('embedded-opentype'),
         url('fonts/shabnam/Shabnam.woff') format('woff'),
         url('fonts/shabnam/Shabnam.ttf') format('truetype'), local('shabnam');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('fonts/shabnam/Shabnam-Bold.eot'), local('shabnam');
    src: url('fonts/shabnam/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/shabnam/Shabnam-Bold.woff') format('woff'),
         url('fonts/shabnam/Shabnam-Bold.ttf') format('truetype'), local('shabnam');
    font-weight: bold;
}

  @font-face {
    font-family: Shabnam;
    src: url('fonts/shabnam/Shabnam-Light.eot'), local('shabnam');
    src: url('fonts/shabnam/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/shabnam/Shabnam-Light.woff') format('woff'),
         url('fonts/shabnam/Shabnam-Light.ttf') format('truetype'), local('shabnam');
    font-weight: 300;
}


/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Shabnam;
}

html,
body {
    font-family: Shabnam, sans-serif;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
}


/* HEADER */
.header_img {
    width: 100%;
    height: auto;
}

/* BODY */
.sent_msg {
    display: none;
}

/* COMPONENTS */
/* Buttons */
.buttn {
    border-radius: 0;

}

/* Text */
.text_h2 {
    font-size: 2.5rem;
}

.text_body {
    font-size: 1rem;
}

.text_footer {
    font-size: .75rem;
}

.text_sm {
    font-size: 1.25rem;
}

.text_md {
    font-size: 1.5rem;
}

.text_lg {
    font-size: 2rem;
}

.text_bold {
    font-weight: bold;
}

/* Colors */
.bg_black {
    background-color: #030000;
}

.text_black {
    color: #030000;
}

.bg_yellow {
    background-color: #ffcb37;
}

.text_yellow {
    color: #ffcb37;
}

.bg_tangaroa {
    background-color: #031a2c;
}

.bg_footer {
    background-color: #020E19;
}

/* Margin and Padding */
.px {
    padding-right: 12rem;
    padding-left: 12rem;
}

.py {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.pb {
    padding-bottom: 6rem;
}

.mb {
    margin-bottom: 6rem;
}