{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="fa">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}Speedy Club{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
         integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
         integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"/>
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'queries.css' %}" type="text/css">
    </head>

    <body>
        <header class="container-fluid p-0 m-0">
            <nav class="navbar navbar-expand-lg bg_black">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'images/logo.png' %}" height="64" alt="">
                    </a>
                    <ul class="navbar-nav">
                        <li class="nav-item px-3 d-none d-sm-inline">
                            <a class="nav-link text-white" href="#about">
                                درباره کمپین
                            </a>
                        </li>
                        <li class="nav-item px-3 d-none d-sm-inline">
                            <a class="nav-link text-white" href="https://sepahanoil.com/">
                                روغن موتور اسپیدی
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="">
                <img class="w-100 h-auto" src="{% static 'images/header.jpg' %}" alt="">
            </div>
        </header>
        
        <section class="container py mb">
            <h2 id="about" class="text-center text_h2 mb-5">
                جشنواره اسپیدی
            </h2>
            <p class="text-right text_sm px">
                از جشنواره «به اسپیدی اعتماد دارم» چیزی میدونید؟
                <br/>
                فقط کافیه فرم زیر رو تکمیل کنید که بهتون تا ۸۰٪ تخفیف خرید روغن موتور
                اسپیدی تعلق بگیره. علاوه بر این می تونید یکی از ۵ نفر برنده سرویس یکساله
                تعویض روغن موتور در خونه هم باشید!!!
            </p>
            <p class="text-right text_md text_bold px">
                این تازه اولشه. فرم رو تکمیل کنید و منتظر خبرهای جذابمون باشید.
            </p>
        </section>
        <section class="container-fluid bg_yellow py mb">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>

        <section class="container py mb">
            <h2 class="text-center text_h2 mb-5">
                زمان تعویض روغن موتور ارتباطی با کیلومتر کارکرد ندارد؟!
            </h2>
            <div id="15315842324338900">
                <script type="text/JavaScript"
                 src="https://www.aparat.com/embed/fsrtD?data[rnddiv]=15315842324338900&data[responsive]=yes"></script>
            </div>
        </section>

        <footer class="container-fluid bg_black py-5 m-0">
            <div class="container">
                <div class="row d-flex justify-content-center mb-5">
                    <div class="mx-4">
                        <a href="https://www.instagram.com/speedymotoroil/">
                            <i class="fab fa-instagram text-white text_md"></i>
                        </a>
                    </div>
                    <div class="mx-4">
                        <a href="https://twitter.com/itrustspeedy">
                            <i class="fab fa-twitter text-white text_md"></i>
                        </a>
                    </div>
                    <div class="mx-4">
                        <a href="https://www.facebook.com/speedy.motoroil.3">
                            <i class="fab fa-facebook text-white text_md"></i>
                        </a>
                    </div>
                    <div class="mx-4">
                        <a href="https://plus.google.com/u/0/112593516259396309980">
                            <i class="fab fa-google-plus-square text-white text_md"></i>
                        </a>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <p class="text-center text_footer text-white">
                        تمامی حقوق این سایت متعلق به شرکت نفت سپاهان می باشد
                    </p>
                </div>
            </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
         integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>